---
layout: page
title: Bookmarks
permalink: /bookmarks/
intro: Random old URLs I had in Apple Notes
# TODO: script something to pull all link posts and check if the URL still
# 200s, if not, archive it This will be complicated by domain squatters :(
#
# https://github.com/urlint/urlint might work...
---

{% assign links = site.data.bookmarks | group_by_exp: "link", "link[1].date | date: '%Y'" | sort: "date" | reverse %}

<p>{{ page.intro | smartify }}</p>

{% for link in links %}
  {% assign current_year = link.name %}
  {% assign data = link.items %}
  <h2 id="{{ link.name }}">{{ current_year }}</h2>

  <ul class="post-list">
  {% for d in data reversed %}
    {% assign dd = d[1] %}
    <li>
      {{ dd.date | date: "%b %d" }}: <a href="{{ dd.url }}" title="{{ dd.title | smartify }}">{{ dd.title | smartify | truncate: 70 }}</a>
    </li>
  {% endfor %}
  </ul>
  {% unless forloop.last %}<hr class="stars">{% endunless %}
{% endfor %}
