// Provides an easy way to contain floats without adding additional markup.
//
// Example:
//
//   .wrapper {
//     @include clearfix;
//     .content,
//     .sidebar {
//       float : left;
//     }
//   }
@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
