<div class="item">
  <div class="title">
    <h2>DotBlock Order Form</h2>
    <h3>Ruby, Rails, Javascript, jQuery, PHP, MySQL</h3>
  </div>

  <div class="gallery">

  </div>

  <div class="info">
    <p>
      I created the Rails app that powers the order form seen on
      <a href="http://www.dotblock.com/">DotBlock</a>.
    </p>

    <p>
      While working with DotBlock's billing system,
      <a href="http://whmcs.com">WHMCS</a>, I discovered there
      weren't any consistent API wrappers for the WHMCS API. I open sourced
      WHMCS API wrappers in
      <a href="https://github.com/dotblock/whmcs-ruby">Ruby</a> and
      <a href="https://github.com/dotblock/whmcs-php">PHP</a>.
    </p>
  </div>
</div>
