<div class="item">
  <div class="title">
    <h2>DotBlock Mobile</h2>
    <h3>Javascript, Titanium Mobile, Ruby, Rails, MySQL, PHP</h3>
  </div>

  <div class="gallery">

  </div>

  <div class="info">
    <p>
      I created DotBlock Mobile for iPhone using Titanium Mobile. DotBlock
      Mobile allows clients to manage their DotBlock VPS and client
      information.
    </p>

    <p>
      In order for DotBlock Mobile to edit and update client information, an
      API needed to be created. As a subproject, I created the
      <a href="http://api.dotblock.com/">DotBlock API</a> for use by all
      DotBlock customers. I also created open source API clients in
      <a href="https://github.com/dotblock/dotblock-api-bash">Bash</a>,
      <a href="https://github.com/dotblock/dotblock-api-php">PHP</a>, and
      <a href="https://github.com/dotblock/dotblock-api-ruby">Ruby</a>.
    </p>
  </div>
</div>
