<div class="item">
  <div class="title">
    <h2>Ennouncement</h2>
    <h3>Ruby, Rails, Javascript, jQuery, Titanium Mobile, MySQL</h3>
  </div>

  <div class="gallery">

  </div>

  <div class="info">
    <p>
      I created the web and iPhone applications for
      <a href="http://www.ennouncement.com/">Ennouncement</a>, a call
      broadcasting service. The web application was created using Ruby on
      Rails, and the iPhone application was created using Titanium Mobile.
    </p>

    <p>
      My work with Ennouncement Mobile was especially challenging (and fun)
      as it was the first iPhone application I've developed. My work with
      Titanium Mobile has been extracted into a helper library,
      <a href="https://github.com/itspriddle/ti-figher">TiFighter</a>.
    </p>
  </div>
</div>
