<div class="item">
  <div class="title">
    <h2>Inglenook Realty</h2>
    <h3>PHP, CodeIgniter, Javascript, Prototype, MySQL</h3>
  </div>

  <div class="gallery">

  </div>

  <div class="info">
    <p>
      Developed company website and content management system using PHP and
      MySQL. Worked directly with the client to fine tune the website exactly
      to their specifications, and have performed several upgrades to meet the
      changing needs of their customers and the real estate market.
    </p>

  </div>
</div>
