<div class="item">
  <div class="title">
    <h2>iZabbix</h2>
    <h3>Ruby, Rails, Javascript, Titanium Mobile, MySQL</h3>
  </div>

  <div class="gallery">

  </div>

  <div class="info">
    <p>
      I created iZabbix, an internal iPhone app for ViaTalk for VoIP
      administrators to manage network alerts using Titanium Mobile and
      Ruby on Rails.
    </p>

    <p>
      The iZabbix web application relays network alerts sent via XMPP to
      administrators' iPhones via push notification. My work with Apple
      Push Notifications has been extracted to a RubyGem,
      <a href="https://github.com/itspriddle/apnd">APND</a>.
    </p>
  </div>
</div>
