<div class="item">
  <div class="title">
    <h2>Let's Call Santa</h2>
    <h3>Ruby, Rails, Javascript, jQuery, MySQL, PHP, CodeIgniter</h3>
  </div>

  <div class="gallery">
    <div class="photo"><img src="/images/portfolio/letscallsanta_thumb.png" /></div>
  </div>

  <div class="info">
    <p>
      I created the Rails app that powers
      <a href="http://www.letscallsanta.com/">Let's Call Santa</a>. Let's
      Call Santa is a fun service offered during the holidays that allows
      children to call Santa at the North Pole and leave him a voicemail with
      their wish list.
    </p>

    <p>
      I originally created Let's Call Santa in 2009 using PHP and CodeIgniter.
      When ViaTalk revamped the service in 2010, I rewrote it in Ruby On
      Rails. Let's Call Santa is one of my favorite projects to date.
    </p>
  </div>
</div>
