<div class="item">
  <div class="title">
    <h2>Liberty Sports Group</h2>
    <h3>PHP, MySQL, WordPress</h3>
  </div>

  <div class="gallery clearfix">
    <div class="photo">&nbsp;</div>
    <div class="photo">&nbsp;</div>
    <div class="photo">&nbsp;</div>
    <div class="photo">&nbsp;</div>
    <div class="photo">&nbsp;</div>
    <div class="photo">&nbsp;</div>
    <div class="photo">&nbsp;</div>
    <div class="photo">&nbsp;</div>
  </div>

  <div class="info">
    <p>
      Info!
    </p>
  </div>
</div>
