<div class="item">
  <div class="title">
    <h2>ViaTalk Trackmaster</h2>
    <h3>PHP, CodeIgniter, Javascript, jQuery, MySQL</h3>
  </div>

  <div class="gallery">

  </div>

  <div class="info">
    <p>
      Developed ViaTalk's Trackmaster application, used to track employee work
      trends and ViaTalk support/billing call history. Trackmaster
      interconnects with ViaTalk's phone and email support systems to deliver
      real-time statistics. Trackmaster also includes a Firefox plugin used by
      ViaTalk Shipping and Porting to track their daily jobs.
    </p>

  </div>
</div>
