<div class="item">
  <div class="title">
    <h2>ViaTalk PBX</h2>
    <h3>PHP, CodeIgniter, Javascript, jQuery, MySQL, CSS</h3>
  </div>

  <div class="gallery">

  </div>

  <div class="info">
    <p>
      I developed ViaTalk PBX, a VoIP and web application used by ViaTalk,
      HostRocket, and several partners for support and business calls. The
      VoIP application, an Asterisk PBX, includes the phone menus and
      underlying logic used when calling ViaTalk or HostRocket support, a
      callback service, and employee voicemail. The web application provides
      an overview of current callers and employes, as well as a detailed
      history of incoming and outgoing calls.
    </p>

    <p>
      On average, ViaTalk PBX handles 500-1000 calls daily and has nearly
      100% uptime since deployment in August 2008.
    </p>

  </div>
</div>
