<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/">{{ site.title }}</a>

    <nav class="site-nav">
      <a class="page-link" href="{{ "/about/" | relative_url }}">About</a>
      <!--
      ::
      <a class="page-link" href="{{ "/blog/" | relative_url }}">Blog</a>
      ::
      <a class="page-link" href="{{ "/links/" | relative_url }}">Links</a>
      -->
      ::
      <a class="page-link" href="{{ "/archive/" | relative_url }}">Archive</a>
    </nav>

  </div>

</header>
