<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} &mdash; {{ site.site_name }}</title>
  <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/syntax.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
</head>
<body{% if page.body_id %} id="{{ page.body_id }}"{% endif %}>
