<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/assets/stylesheets/application.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/stylesheets/syntax.css" type="text/css" media="screen" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/javascripts/jquery.autocomplete.js" type="text/javascript"></script>
  <script src="/assets/javascripts/application.js" type="text/javascript"></script>
  <title>{{ page.title }} - {{ site.site_name }}</title>
</head>
<body>
<div id="pages">
  <h1><a href="/">{{ site.site_name }}</a></h1>
  <ul class="nav">
    <li><a href="http://twitter.com/itspriddle">twitter</a></li>
    <li><a href="http://github.com/itspriddle">github</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
</div>
<div id="wrap">
  <div id="logo"></div>
	<div id="tagline">ideas are bulletproof</div>
