{%- assign asset_hash = site.time | date: "%s" -%}
{%- if paginator.page > 1 -%}
{%- assign page_title = page.title | prepend: " --- " | prepend: site.title | smartify -%}
{%- elsif page.title and (page.title != site.title) -%}
{%- assign page_title = page.title | append: " --- " | append: site.title | smartify -%}
{%- else -%}
{%- assign page_title = site.title | smartify -%}
{%- endif -%}
{%- assign page_url = page.url | remove_first: "index.html" | absolute_url -%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | normalize_whitespace | escape_once | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="me" href="https://github.com/itspriddle">
  <link rel="author" type="text/plain" href="{{ "/humans.txt" | absolute_url }}">
  <link rel="canonical" href="{{ page_url }}">

  <title>{{ page_title }}</title>

  <meta property="og:locale" content="en" />
  <meta property="og:url" content="{{ page_url }}" />
  <meta property="og:site_name" content="{{ site.title | smartify }}" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta name="author" content="{{ site.author.name }}" />

  {%- if page.date %}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
  {%- else %}
  <meta property="og:type" content="website" />
  {%- endif %}

  {% if paginator.previous_page %}<link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">{%- endif %}
  {% if paginator.next_page %}<link rel="next" href="{{ paginator.next_page_path | absolute_url }}">{%- endif %}

  {% feed_meta %}

  <link rel="stylesheet" href="{{ "/stylesheets/main.css?" | append: asset_hash }}">
</head>
