<div class="entry">
  <h3 class="entrytitle"><a href="{{page.url}}">{{ page.title }}</a></h3>
  <div class="entrymeta">Posted in
    {% for cat in page.categories %}<a href="/{{ cat }}">{{ cat | capitalize }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
    on {{ page.date | date_to_string }} by
    {% if page.author %}<a href="{{ page.author_url }}">{{ page.author }}</a>{% else %}<a href="{{ site.author_url }}">{{ site.author }}</a>{% endif %}</div>
  <div class="entrybody">
  {{ body }}
  </div>
</div>
