{% for item in include.posts %}
  {% unless include.hide_year %}
    {% comment %}<h2 id="{{ item.name }}"><a href="{{ "/" | append: item.name | append: "/" | relative_url }}">{{ item.name }}</a></h2>{% endcomment %}
    <h2 id="{{ item.name }}">{{ item.name }}</h2>
  {% endunless %}
  <ul class="post-list">
    {% for post in item.items %}
      <li>
        {{ post.date | date: "%b %d" }}: <a href="{{ post.url }}">{{ post.title | smartify }}</a>
        {% if post.link %}
        [<a href="{{ post.link }}">Link</a>]
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
