<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if include.homepage %}
        <a href="{{ page.url }}">{{ page.title | smartify }}</a>
      {% else %}
        {{ page.title | smartify }}
      {% endif %}
    </h1>
    <p class="post-meta">
      {% if include.homepage %}
        <a href="{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }}</a>
      {% else %}
        {{ page.date | date: "%b %-d, %Y" }}
      {% endif %}

      <!--
      {% unless include.homepage %}
      <span class="github-post-links">
        •
        <a href="{{ site.github.repository_url }}/blob/{{ site.github.source.branch }}/{{ page.path }}">View on GitHub</a>
        •
        <a href="{{ site.github.repository_url }}/raw/{{ site.github.source.branch }}/{{ page.path }}">View Raw</a>
      </span>
      {% endunless %}
      -->
    </p>
  </header>

  <article class="post-content">
    <!-- TODO: this logic isn't quite right.. (i.e. see "avatar" post) -->
    {% if include.homepage and (page.excerpt != include.body or page.link) %}
    {{ page.excerpt }}
    <p><a href="{{ page.url }}">Read more &rarr;</a></p>
    {% else %}
    {% if page.link %}<p><strong>Link:</strong> <a href="{{ page.link }}">{{ page.link }} &rarr;</a></p>{% endif %}
    {{ include.body }}
    {% endif %}
  </article>

</div>
