<div class="post">
  <div class="title">
    <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
    <h1>{% if homepage %}<a href="{% if page.link %}{{ page.link }}{% else %}{{ page.url }}{% endif %}">{{ page.title }}</a>{% else %}{{ page.title }}{% endif %}{% if page.link %}<i class="icon-share-alt"></i>{% endif %}</h1>
  </div>
  <div class="body">
    {% if homepage and page.short_description %}
    {{ page.short_description }}
    <p><a href="{{ page.url }}">Read more &rarr;</a></p>
    {% else %}
    {{ body }}
    {% endif %}
  </div>
</div>
