// Typography
// --------------------------------------------------------------------------

$helvetica:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida-grande:  "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;
$verdana:        Verdana, Geneva, sans-serif;
$georgia:        Georgia, Cambria, "Times New Roman", Times, serif;
