:root {
  /* from sanitize.css */
  --font-system: system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ "Segoe UI",
    /* Android 4+ */ "Roboto",
    /* Ubuntu 10.10+ */ "Ubuntu",
    /* Gnome 3+ */ "Cantarell",
    /* KDE Plasma 5+ */ "Noto Sans",
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";

  --font-monospace: CommitMono,
    /* macOS 10.10+ */ "Menlo",
    /* Windows 6+ */ "Consolas",
    /* Android 4+ */ "Roboto Mono",
    /* Ubuntu 10.10+ */ "Ubuntu Monospace",
    /* KDE Plasma 5+ */ "Noto Mono",
    /* KDE Plasma 4+ */ "Oxygen Mono",
    /* Linux/OpenOffice fallback */ "Liberation Mono",
    /* fallback */ monospace,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";

  --base-font-family: var(--font-monospace);
  --mono-font-family: var(--font-monospace);
  --base-font-size:   14px;
  --mono-font-size:   1rem;
  --small-font-size:  0.875rem;
  --base-line-height: 1.6;

  --spacing-unit:     30px;

  --content-width:    800px;
}

:root[data-color-mode="light"] {
  --color-fg: #232323;
  --color-bg: #fdfdfd;

  --link-color-base: #2a7ae2;
  --link-color-visited: #1756a9;
  --link-color-hover: var(--color-fg);

  --code-color-bg: #f4f8fe;
  --code-color-border: #eaf2fc;

  --table-odd-bg: #f7f7f7;
  --table-header-bg: #f0f0f0;
  --table-header-border: #e0e0e0;
  --table-border-color: #e8e8e8;
  --table-text-color: #515151;

  --font-weight-bold: 700;
  --font-weight-normal: 400;

  --hr-color: rgba(0, 0, 0, 0.15);

--on-palm:          600px;
--on-laptop:        800px;
}

:root[data-color-mode="dark"] {
  --font-weight-bold: 600;
  --font-weight-normal: 300;

  --color-fg: #bbb;
  --color-bg: #181818;

  --link-color-base: #79b8ff;
  --link-color-visited: var(--link-color-base);
  --link-color-hover: var(--color-fg);

  --code-color-bg: #212121;
  --code-color-border: var(--code-color-bg);

  --table-odd-bg: #222222;
  --table-header-bg: #323232;
  --table-header-border: #4e4e4e;
  --table-border-color: #404040;
  --table-text-color: var(--color-fg);

  --hr-color: rgba(255, 255, 255, 0.05);
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--base-line-height);
  color: var(--color-fg);
  background-color: var(--color-bg);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: calc(var(--spacing-unit) / 2);
}

main {
  display: block;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: var(--small-font-size);
}



/**
 * Lists
 */
ul, ol {
  margin-left: var(--spacing-unit);
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-variation-settings: "wght" var(--font-weight-bold);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1.0625rem;
}

h5, h6 {
  font-size: 1rem;
}


/**
 * Bolds
 */
strong, b {
  font-weight: normal;
  font-variation-settings: "wght" var(--font-weight-bold);
}


/**
 * Links
 */
a {
  color: var(--link-color-base);
  text-decoration: none;

  &:visited {
    color: var(--link-color-visited);
  }

  &:hover {
    color: var(--color-fg);
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 3px solid #828282;
  padding-left: calc(var(--spacing-unit) / 2);

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: var(--mono-font-size);
  border: 1px solid var(--code-color-border);
  border-radius: 3px;
  background-color: var(--code-color-bg);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

pre, code, kbd, samp, tt {
  font-family: var(--mono-font-family);
}



/**
 * Clearfix
 */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/**
 * HR
 */

hr:not([class]) {
  height: 1px;
  padding: 0;
  margin: var(--spacing-unit) 0;
  background-color: var(--hr-color);
  border: 0;
  width: 100%;
}

hr.stars {
  text-align: center;
  height: 1.5em;
  line-height: 1.5em;
  margin: 1.5em 0 1.5em;
  border: none;
  color: var(--hr-color);

  &::before {
    content: "* * * * *";
  }
}
