/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid var(--color-hr);
  min-height: 56px;

  /* Positioning context for the mobile navigation icon */
  position: relative;
}

.site-title {
  font-size: 1.4rem;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: var(--mono-font-family);

  &,
  &:visited {
    color: var(--color-fg);
  }

  img.logo {
    height: 20px;
    filter: invert(40%);
  }
}

@media (prefers-color-scheme: dark) {
  .site-title img {
    filter: invert(70%);
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: var(--color-fg);
    line-height: var(--base-line-height);
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--color-hr);
  padding: var(--spacing-unit) 0;
}

.footer-col-wrapper {
  color: var(--color-muted);
  &:not(:last-child) {
    margin-left: calc(-1 * var(--spacing-unit) / 2);
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.footer-col {
  margin-bottom: calc(var(--spacing-unit) / 2);
  text-align: center;

  a {
    font-weight: bold;
    color: var(--color-muted);
  }
}

/**
 * Page content
 */
.page-content {
  padding: var(--spacing-unit) 0;
}

.post-meta {
  font-size: var(--small-font-size);
  color: var(--color-muted);

  & > a {
    color: var(--color-muted);
  }

  .github-post-links {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}



/**
 * Posts
 */
.post:not(:last-child) {
  margin-bottom: calc(var(--spacing-unit) * 2);
}

.post-list {
  margin-left: 0;
  margin-bottom: var(--spacing-unit);
  list-style: none;
  li {
    line-height: var(--base-line-height);
  }
}

.post-header {
}

.post-title, .post-content h1 {
  margin-bottom: calc(var(--spacing-unit) / 3);
}

.post-content {
  word-wrap: break-word;

  /* highlight tables without a class, which should only be those generated
     from Markdown */
  table:not([class]) {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: var(--spacing-unit);
    border: 1px solid var(--table-border-color);
    th,
    td {
      padding: calc(var(--spacing-unit) / 4);
      line-height: calc(var(--base-line-height) * 0.75);
      text-align: left;
      vertical-align: top;
      color: var(--table-text-color);
    }
    th {
      font-weight: normal;
      font-variation-settings: "wght" var(--font-weight-bold);
      white-space: nowrap;
      background-color: var(--table-header-bg);
      border: 1px solid var(--table-header-border);
    }
    td {
      border: 1px solid var(--table-border-color);
    }
    thead th {
      vertical-align: bottom;
    }

    tbody {
      > tr:nth-child(odd) > td,
      > tr:nth-child(odd) > th {
        background-color: var(--table-odd-bg);
      }
    }

    @media screen and (max-width: 800px) {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
              -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }

  .footnotes {
    font-size: var(--small-font-size);
    border-top: 1px solid var(--color-hr);
    margin-top: var(--spacing-unit);
    padding-top: var(--spacing-unit);
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(var(--content-width) - (var(--spacing-unit) * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-unit);
  padding-left: var(--spacing-unit);
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 800px) {
    max-width: calc(var(--content-width) - (var(--spacing-unit)));
    padding-right: calc(var(--spacing-unit) / 2);
    padding-left: calc(var(--spacing-unit) / 2);
  }
}

.pager {
  text-align: center;
}
