// Colors
// --------------------------------------------------------------------------
$black:        #000;
$gray-darker:  #222;
$gray-dark:    #333;
$gray:         #555;
$gray-light:   #999;
$gray-lighter: #eee;
$white:        #fff;

$main-bg:     #f8f8f8;

$link-color:         lighten(#165b94, 3) !default;
$link-color-hover:   adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active:  adjust-color($link-color-hover, $lightness: -15) !default;


// Typography
// --------------------------------------------------------------------------

$helvetica:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$play:           Play, $helvetica;
$lucida-grande:  "Lucida Grande", Tahoma, Helvetica, Verdana, Arial, sans-serif;
$monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;
$verdana:        Verdana, Geneva, sans-serif;
$georgia:        Georgia, Cambria, "Times New Roman", Times, serif;

$base-font-size:   12px !default;
$base-font-family: $lucida-grande !default;
$base-line-height: 18px !default;
$text-color:       $gray-dark !default;


// UI Images
// --------------------------------------------------------------------------

$ui-noise: url("/images/ui/noise.png");

// Typography
// --------------------------------------------------------------------------

$solarized: light !default;

$base03:          #002b36 !default; //darkest blue
$base02:          #073642 !default; //dark blue
$base01:          #586e75 !default; //darkest gray
$base00:          #657b83 !default; //dark gray
$base0:           #839496 !default; //medium gray
$base1:           #93a1a1 !default; //medium light gray
$base2:           #eee8d5 !default; //cream
$base3:           #fdf6e3 !default; //white
$solar-yellow:    #b58900 !default;
$solar-orange:    #cb4b16 !default;
$solar-red:       #dc322f !default;
$solar-magenta:   #d33682 !default;
$solar-violet:    #6c71c4 !default;
$solar-blue:      #268bd2 !default;
$solar-cyan:      #2aa198 !default;
$solar-green:     #859900 !default;

$solar-scroll-bg:    rgba(#fff, .15);
$solar-scroll-thumb: rgba(#fff, .2);

@if $solarized == light {
  $base03: #fdf6e3;
  $base02: #eee8d5;
  $base01: #93a1a1;
  $base00: #839496;
  $base0:  #657b83;
  $base1:  #586e75;
  $base2:  #073642;
  $base3:  #002b36;

  $solar-scroll-bg:    rgba(#000, .15);
  $solar-scroll-thumb: rgba(#000, .15);
}

/* non highlighted code colors */
$pre-bg:     $base03 !default;
$pre-border: $base02 !default;
$pre-color:  $base1 !default;

// Grid (Default 940px)
// --------------------------------------------------------------------------
$grid-columns:      12 !default;
$grid-column-width: 60px !default;
$grid-gutter-width: 20px !default;
$grid-row-width:    ($grid-columns * $grid-column-width) + ($grid-gutter-width * ($grid-columns - 1));


$hr-border:        $gray-lighter !default;
