// Colors
// --------------------------------------------------------------------------
$black:       #000 !default;
$grayDarker:  #222 !default;
$grayDark:    #333 !default;
$gray:        #555 !default;
$grayLight:   #999 !default;
$grayLighter: #eee !default;
$white:       #fff !default;


// Typography
// --------------------------------------------------------------------------

$helvetica:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida-grande:  "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;
$verdana:        Verdana, Geneva, sans-serif;
$georgia:        Georgia, Cambria, "Times New Roman", Times, serif;
