@mixin code-title {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  @include border-top-radius(5px);
  font-family: $lucida-grande;
  background: #aaaaaa url("code_bg.png") top repeat-x;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

@mixin download-source {
  position: absolute; right: .8em;
  @include hover-link;
  color: #666 !important;
  z-index: 1;
  font-size: 13px;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em;
}

@mixin hover-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline; } }



// --------------------------------------------------------------------------

html .gist .gist-file .gist-syntax .gist-highlight pre,
.highlight code {
  font-family: $monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em !important;
  overflow-x: auto;
  line-height: 1.45em;
  background: $base03 $ui-noise !important;
  color: $base1 !important;

  span { color: $base1 !important; font-style: normal !important; font-weight: normal !important; }

  .c      { color: $base01 !important; font-style: italic !important; }
  .cm     { color: $base01 !important; font-style: italic !important; }
  .cp     { color: $base01 !important; font-style: italic !important;  }
  .c1     { color: $base01 !important; font-style: italic !important; }
  .cs     { color: $base01 !important; font-weight: bold !important; font-style: italic !important; }
  .err    { color: $solar-red !important; background: none !important; }
  .k      { color: $solar-orange !important; }
  .o      { color: $base1 !important; font-weight: bold !important; }
  .p      { color: $base1 !important; }
  .ow     { color: $solar-cyan !important; font-weight: bold !important; }
  .gd     { color: $base1 !important; background-color: mix($solar-red, $base03, 25%) !important; display: inline-block; }
  .gd .x  { color: $base1 !important; background-color: mix($solar-red, $base03, 35%) !important; display: inline-block; }
  .ge     { color: $base1 !important; font-style: italic !important; }
  //.gr     { color: #aa0000 }
  .gh     { color: $base01 !important; }
  .gi     { color: $base1 !important; background-color: mix($solar-green, $base03, 20%) !important; display: inline-block; }
  .gi .x  { color: $base1 !important; background-color: mix($solar-green, $base03, 40%) !important; display: inline-block; }
  //.go     { color: #888888 }
  //.gp     { color: #555555 }
  .gs     { color: $base1 !important; font-weight: bold !important; }
  .gu     { color: $solar-violet !important; }
  //.gt     { color: #aa0000 }
  .kc     { color: $solar-green !important; font-weight: bold !important; }
  .kd     { color: $solar-blue !important; }
  .kp     { color: $solar-orange !important; font-weight: bold !important; }
  .kr     { color: $solar-magenta !important; font-weight: bold !important; }
  .kt     { color: $solar-cyan !important; }
  .n      { color: $solar-blue !important; }
  .na     { color: $solar-blue !important; }
  .nb     { color: $solar-green !important; }
  .nc     { color: $solar-magenta !important;}
  .no     { color: $solar-yellow !important; }
  //.ni     { color: #800080 }
  .nl     { color: $solar-green !important; }
  .ne     { color: $solar-blue !important; font-weight: bold !important; }
  .nf     { color: $solar-blue !important; font-weight: bold !important; }
  .nn     { color: $solar-yellow !important; }
  .nt     { color: $solar-blue !important; font-weight: bold !important; }
  .nx     { color: $solar-yellow !Important; }
  //.bp     { color: #999999 }
  //.vc     { color: #008080 }
  .vg     { color: $solar-blue !important; }
  .vi     { color: $solar-blue !important; }
  .nv     { color: $solar-blue !important; }
  //.w      { color: #bbbbbb }
  .mf     { color: $solar-cyan !important; }
  .m      { color: $solar-cyan !important; }
  .mh     { color: $solar-cyan !important; }
  .mi     { color: $solar-cyan !important; }
  //.mo     { color: #009999 }
  .s      { color: $solar-cyan !important; }
  //.sb     { color: #d14 }
  //.sc     { color: #d14 }
  .sd     { color: $solar-cyan !important; }
  .s2     { color: $solar-cyan !important; }
  .se     { color: $solar-red !important; }
  //.sh     { color: #d14 }
  .si     { color: $solar-blue !important; }
  //.sx     { color: #d14 }
  .sr     { color: $solar-cyan !important; }
  .s1     { color: $solar-cyan !important; }
  //.ss     { color: #990073 }
  //.il     { color: #009999 }
  div {
    .gd, .gd .x, .gi, .gi .x { display: inline-block; width: 100%; }
  }
}

.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  .line-numbers {
    text-align: right;
    font-size: 13px;
    line-height: 1.45em;
    @if $solarized == light {
      background: lighten($base03, 1) $ui-noise !important;
      border-right: 1px solid darken($base02, 2) !important;
      @include box-shadow(lighten($base03, 2) -1px 0 inset);
      text-shadow: lighten($base02, 2) 0 -1px;
    } @else {
      background: $base02 $ui-noise !important;
      border-right: 1px solid darken($base03, 2) !important;
      @include box-shadow(lighten($base02, 2) -1px 0 inset);
      text-shadow: darken($base02, 10) 0 -1px;
    }
    span { color: $base01 !important; }
    padding: .8em !important;
    @include border-radius(0);
  }
  border: 1px solid $pre-border !important;
}
html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: 26px !important;
  .gist-syntax {
    @if $solarized == dark {
      border-bottom: 1px solid $base03 !important;
    } @else if $solarized == light {
      border-bottom: 0px;
    }
    .gist-highlight{
      background: $base03 !important;
    }
  }
  .gist-meta {
   padding: .6em 0.8em;
   border: 1px solid lighten($base02, 2) !important;
   color: $base01;
   font-size: .7em !important;
   @if $solarized == light {
     background: lighten($base03, 2) $ui-noise;
     border-top: 1px solid lighten($base03, 2) !important;
   } @else {
     background: $base02 $ui-noise;
   }
   font-family: $lucida-grande;
   line-height: 1.5em;
    a {
      color: mix($base1, $base01) !important;
      @include hover-link;
      &:hover { color: $base1 !important; }
    }
    a[href*='#file'] {
      position: absolute; top: 0; left:0; right:-10px;
      color: #474747 !important;
      @include code-title;
      &:hover { color: $link-color !important; }
    }
    a[href*=raw]{
      @include download-source;
      top: .4em;
    }
  }
}

pre {
  background: $pre-bg $ui-noise;
  @include border-radius(.4em);
  font-family: $monospace;
  border: 1px solid $pre-border;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: $pre-color;
  overflow: auto;
}

h3.filename {
  @include code-title;
  + pre { @include border-top-radius(0px); }
}

p code, li code {
  font-family: $monospace;
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  // font-size: .9em;
  line-height: 1.5em;
  color: #C00;
  border: 1px solid #ddd;
  @include border-radius(.4em);
  padding: 0 .3em;
  margin: -1px 0;
}


.highlight, .gist-highlight {
  pre { background: none; @include border-radius(none); border: none; padding: 0; margin-bottom: 0; }
  margin-bottom: 1.8em;
  background: $base03;
  overflow-y: hidden;
  overflow-x: auto;
}

pre, .highlight, .gist-highlight {
  &::-webkit-scrollbar {  height: .5em; background: $solar-scroll-bg; }
  &::-webkit-scrollbar-thumb:horizontal { background: $solar-scroll-thumb;  -webkit-border-radius: 4px; border-radius: 4px }
}

.highlight code {
  background: #000;
}

figure[role=code] {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
  pre { margin-bottom: 0; }
  figcaption {
    position: relative;
    @include code-title;
    a { @include download-source; }
  }
  .highlight {
    margin-bottom: 0;
  }
}
