// Typography
//
// Headings, body text, lists, code, and more for a versatile and durable
// typography system.


// BODY TEXT
// ---------

p {
  margin: 0 0 $base-line-height / 2;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  small {
    font-size: $base-font-size - 2;
    color: $gray-light;
  }
}
.lead {
  margin-bottom: $base-line-height;
  font-size: 20px;
  font-weight: 200;
  line-height: $base-line-height * 1.5;
}

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: $gray-dark;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    color: $gray-light;
  }
}
h1 {
  font-size: 30px;
  line-height: $base-line-height * 2;
  small {
    font-size: 18px;
  }
}
h2 {
  font-size: 24px;
  line-height: $base-line-height * 2;
  small {
    font-size: 18px;
  }
}
h3 {
  line-height: $base-line-height * 1.5;
  font-size: 18px;
  small {
    font-size: 14px;
  }
}
h4, h5, h6 {
  line-height: $base-line-height;
}
h4 {
  font-size: 14px;
  small {
    font-size: 12px;
  }
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: $gray-light;
  text-transform: uppercase;
}

// Page header
.page-header {
  padding-bottom: $base-line-height - 1;
  margin: $base-line-height 0;
  border-bottom: 1px solid $gray-lighter;
}
.page-header h1 {
  line-height: 1;
}



// LISTS
// -----
/*
// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 $base-line-height / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: $base-line-height;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

*/

// Description Lists
dl {
  margin-bottom: $base-line-height;
}
dt,
dd {
  line-height: $base-line-height;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $base-line-height / 2;
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $base-line-height 0;
  border: 0;
  border-top: 1px solid $hr-border;
  border-bottom: 1px solid $white;
}

// Emphasis
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: $gray-light;
}

// Abbreviations and acronyms
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $base-line-height;
  border-left: 5px solid $gray-lighter;
  p {
    margin-bottom: 0;
    // font-size: 16px;
    font-weight: 300;
    line-height: $base-line-height * 1.25;
  }
  small {
    display: block;
    line-height: $base-line-height;
    color: $gray-light;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid $gray-lighter;
    p,
    small {
      text-align: right;
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $base-line-height;
  line-height: $base-line-height;
  font-style: normal;
}

// Misc
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
