/* Social Icons, from http://effectortheme.tumblr.com/ */

#socialize li { float: left; padding-top: 5px; margin: 0 4px 5px 0; }
#socialize a { background: url(/images/social-icons.pnh) left top no-repeat; width: 18px; height: 18px; padding: 0; border: 0; display: block; text-indent: -999em; overflow: hidden; opacity: 0.8; }
#socialize a:hover { background-color: transparent; opacity: 1; }
#socialize a:active { position: relative; top: 1px; }
#socialize .twitter a { background-position: -18px top }
#socialize .facebook a { background-position: -36px top }
#socialize .vimeo a { background-position: -54px top }
#socialize .flickr a { background-position: -72px top }
#socialize .digg a { background-position: -90px top }
#socialize .delicious a { background-position: -108px top }
#socialize .lastfm a { background-position: -126px top }
#socialize .linkedin a { background-position: -144px top }
#socialize .youtube a { background-position: -162px top }
#socialize .google a { background-position: -180px top }
#socialize .cargo a { background-position: -198px top }
#socialize .myspace a { background-position: -216px top }
#socialize .skype a { background-position: -234px top }
#socialize .ffffound a { background-position: -252px top }
#socialize .soundcloud a { background-position: -270px top }
#socialize .behance a { background-position: -288px top }
#socialize .forrst a { background-position: -306px top }
#socialize .foursquare a { background-position: -324px top }
#socialize .xbox a { background-position: -342px top }
#socialize .gowalla a { background-position: -360px top }
#socialize .grooveshark a { background-position: -378px top }
#socialize .rdio a { background-position: -396px top }
#socialize .github a { background-position: -414px top }
#socialize .pinboard a { background-position: -432px top }
.lg-icons #socialize a { width: 25px; height: 25px; background-position: left bottom; }
.lg-icons #socialize .twitter a { background-position: -25px bottom }
.lg-icons #socialize .facebook a { background-position: -50px bottom }
.lg-icons #socialize .vimeo a { background-position: -75px bottom }
.lg-icons #socialize .flickr a { background-position: -100px bottom }
.lg-icons #socialize .digg a { background-position: -125px bottom }
.lg-icons #socialize .delicious a { background-position: -150px bottom }
.lg-icons #socialize .lastfm a { background-position: -175px bottom }
.lg-icons #socialize .linkedin a { background-position: -200px bottom }
.lg-icons #socialize .youtube a { background-position: -225px bottom }
.lg-icons #socialize .google a { background-position: -250px bottom }
.lg-icons #socialize .cargo a { background-position: -275px bottom }
.lg-icons #socialize .myspace a { background-position: -300px bottom }
.lg-icons #socialize .skype a { background-position: -325px bottom }
.lg-icons #socialize .ffffound a { background-position: -350px bottom }
.lg-icons #socialize .soundcloud a { background-position: -375px bottom }
.lg-icons #socialize .behance a { background-position: -400px bottom }
.lg-icons #socialize .forrst a { background-position: -425px bottom }
.lg-icons #socialize .foursquare a { background-position: -450px bottom }
.lg-icons #socialize .xbox a { background-position: -475px bottom }
.lg-icons #socialize .gowalla a { background-position: -500px bottom }
.lg-icons #socialize .grooveshark a { background-position: -525px bottom }
.lg-icons #socialize .rdio a { background-position: -550px bottom }
.lg-icons #socialize .github a { background-position: -575px bottom }
.lg-icons #socialize .pinboard a { background-position: -600px bottom }
